.checkbox {
  position: relative;
  // &:not(:last-child) {
  margin-bottom: rem(20);
  // }
  // .checkbox__input

  &__input {
    position: absolute;
    width: rem(18);
    height: rem(18);
    opacity: 0;
    &:focus + .checkbox__label::before {
      // box-shadow: 0 0 5px #000;
    }
    &:checked + .checkbox__label::before {
      // background: #000;
      border: 2px solid $decorColor;
    }
    &:checked + .checkbox__label::after {
      transform: scale(1);
      transition: all 0.3s ease 0s;
    }
  }

  // .checkbox__label

  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: rem(10);
    &::before {
      content: "";
      align-self: flex-start;
      flex: 0 0 rem(20);
      height: rem(20);
      width: rem(20);
      // border: 1px solid #a7a9ac;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }
    &::after {
      content: "";
      position: absolute;
      transform: scale(0);
      align-self: flex-start;
      flex: 0 0 rem(12);
      width: rem(12);
      height: rem(12);
      top: 4px;
      left: 4px;
      background: $decorColor;
      border-radius: 2px;
      transition: all 0.3s ease 0s;
    }
  }

  // .checkbox__text

  &__text {
    // margin-left: rem(18);
  }

  // .checkbox__rating

  &__rating {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    column-gap: rem(15);
    margin-left: rem(5);
  }
}
.rating-label {
}
.checkbox-rating {
  // .checkbox-rating__star

  &__star {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    column-gap: rem(10);
  }

  // .checkbox-rating__star-img

  &__star-img {
  }

  // .checkbox-rating__text

  &__text {
  }
}
